## DSI Project 2 - Ames Housing Data and Kaggle Challenge

### Part 3: Modeling

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

#Scikit imports
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import r2_score

### Reading in CSV

In [3]:
train = pd.read_csv('./datasets/train_clean.csv')
train.head()

,Unnamed: 0,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,lot_shape,land_contour,...,enclosed_porch,3ssn_porch,screen_porch,pool_area,fence,misc_val,mo_sold,yr_sold,sale_type,saleprice
0,0,109,533352170,60,RL,69.0552,13517,Pave,IR1,Lvl,...,0,0,0,0,No Fence,0,3,2010,WD,130500
1,1,544,531379050,60,RL,43.0000,11492,Pave,IR1,Lvl,...,0,0,0,0,No Fence,0,4,2009,WD,220000
2,2,153,535304180,20,RL,68.0000,7922,Pave,Reg,Lvl,...,0,0,0,0,No Fence,0,1,2010,WD,109000
3,3,318,916386060,60,RL,73.0000,9802,Pave,Reg,Lvl,...,0,0,0,0,No Fence,0,4,2010,WD,174000
4,4,255,906425045,50,RL,82.0000,14235,Pave,IR1,Lvl,...,0,0,0,0,No Fence,0,3,2010,WD,138500

In [4]:
test = pd.read_csv('./datasets/test_clean.csv')
test.head()

,Unnamed: 0,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,lot_shape,land_contour,...,open_porch_sf,enclosed_porch,3ssn_porch,screen_porch,pool_area,fence,misc_val,mo_sold,yr_sold,sale_type
0,0,2658,902301120,190,RM,69.0552,9142,Pave,Reg,Lvl,...,60,112,0,0,0,No Fence,0,4,2006,WD
1,1,2718,905108090,90,RL,43.0000,9662,Pave,IR1,Lvl,...,0,0,0,0,0,No Fence,0,8,2006,WD
2,2,2414,528218130,60,RL,68.0000,17104,Pave,IR1,Lvl,...,24,0,0,0,0,No Fence,0,9,2006,New
3,3,1989,902207150,30,RM,73.0000,8520,Pave,Reg,Lvl,...,0,184,0,0,0,No Fence,0,7,2007,WD
4,4,625,535105100,20,RL,82.0000,9500,Pave,IR1,Lvl,...,76,0,0,185,0,No Fence,0,7,2009,WD

In [7]:
train.columns[train.isnull().any()]

Index([], dtype='object')

In [8]:
test.columns[test.isnull().any()]

Index([], dtype='object')

### Model Prep: Create features matrix (x) and target vector (y)

In [10]:
X = train._get_numeric_data().drop(columns='saleprice')
features = list(X.columns)
y = train['saleprice']

### Model Fit

In [11]:
# instantiate LinearRegression estimator
lr = LinearRegression()

In [12]:
model = lr.fit(X,y)

In [15]:
predictions = model.predict(X)
print(predictions)

[182881.37158376 240790.90160884 128583.83606452 ... 162139.50713703
 120029.02061675 207807.87253988]

In [17]:
score = model.score(X,y)
print(score)

0.8382401966787472

Sticking with our theme of beds, baths, and basement, lets look at the related numerical values , with a negtive/poistuve corelation of 0.5 or greater , expolored in teh EDA notebvook 

- Total Rooms above growund
- full baths
- Total Basment quare footage

In [20]:
X = ['totrms_abvgrd', 'fullbath','total_bsmt_sf']
y = train['saleprice']

Let's include teh stronges correlted variable to teh mix and see what we get?

In [21]:
X = ['totrms_abvgrd', 'fullbath','total_bsmt_sf','overall_qual']
y = train['saleprice']

Lets how this compares to cast my categories of ocus and realying solely on correlation results, negative/positive correlation over 0.5

In [ ]:
#HOW DO I JUST FILTER FOR CORRELATION 0.5 and above

#set variable fits and then make x equal that variable?